* {
  margin: 0;
  padding: 0;
}

.content {
  background: rgba(201, 197, 193, 0.671);
  height: 100vh;
  overflow: hidden;
}

.content h1 {
  color: #472121;
  position: absolute;
  top: 5%;
  left: 15%;
  font-family: "Times New Roman", Times, serif;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 40px;
  text-align: center;
}

.box ul li {
  position: absolute;
  width: 35px;
  height: 35px;
  list-style: none;
  opacity: 0;
  background: radial-gradient(rgb(90, 23, 134), transparent, transparent);
  bottom: 25px;
  left: 10vw;
  animation: animate 15s linear infinite;
}

.box ul li:nth-child(2) {
  left: 37vw;
  animation-delay: 2s;
}

.box ul li:nth-child(3) {
  left: 25vw;
  animation-delay: 4s;
}

.box ul li:nth-child(4) {
  left: 60vw;
  animation-delay: 6s;
}

.box ul li:nth-child(5) {
  left: 75vw;
  animation-delay: 4s;
}

.Navigation {
  position: absolute;
  top: 0;
  right: 0px;
  width: 360px;
  height: 24px;
  background: white;
  justify-content: center;
  align-items: center;
  gap: 40px;
  display: inline-flex;
}

.Navigation .Tab {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}
